main
{
    width: 85.36%;
    margin-top: 10%;
    margin-bottom: 10%;
    padding-left: 7.32%;
}
.backgroung_Number_etape_fonctioning
{
    width: 5vw;
    aspect-ratio: 1/1;
    border-radius: 20px;
    margin-bottom: -15%;
    margin-left: -2.5%;
    z-index: 2;
    position: relative;
}
main h1
{
    margin-top: 15%;
    margin-bottom: 10%;
}
.backgroung_icone_texte_fonctioning
{
    z-index: 1;
    position: relative;
}
main i
{
    margin-left: 15%;
}