$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-white: #fff;
$color-black: rgb(0, 0, 0);
$color-background-elements: #f6f6f6;
$color-background-footer: #353535;
$color-background-label-new: #99e2d0;
$color-text-label-new: #008766;