@charset "UTF-8";
/*système 7-1 pour une codebase plus simple à gérer*/
/*1-utils*/
/*variables, fonctions, mixins et %placeholders*/
/*2-base*/
/*fondations du site (police, normes, box-sizing)*/
@font-face {
  font-family: "Shrikhand";
  src: url("../fonts/Shrikhand-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Regular.ttf") format("truetype");
}
body {
  margin: 0;
}

a {
  text-decoration: none;
}

#location i {
  color: black;
  margin-left: -7%;
}

i {
  color: grey;
  font-size: 5vw;
}

h1, h2, h3, h4, h5 {
  font-family: "Roboto";
}

h1 {
  font-size: 6vw;
  font-weight: bolder;
}

h2 {
  font-size: 4vw;
  font-weight: bolder;
  color: black;
  margin-block-end: 0px;
}

h3 {
  font-size: 4vw;
  font-weight: lighter;
  color: black;
}

h4 {
  font-size: 3vw;
  color: white;
  text-align: center;
  vertical-align: middle;
  padding-top: 10%;
  line-height: normal;
}

h5 {
  font-size: 4vw;
  font-weight: bolder;
  margin-left: 5%;
}

/*3-component*/
/*blocs BEM plus indépendants (boutons)*/
#introduction a {
  background: linear-gradient(180deg, #FF79DA 1%, #9356DC);
  color: white;
  border-radius: 30px;
  width: 55%;
  /*aspect-ratio: 24/5;*/
  box-shadow: 2px 9px 15px -7px rgba(0, 0, 0, 0.75);
  text-align: center;
  font-family: "Roboto";
  padding-top: 3%;
  padding-bottom: 3%;
  font-size: 3.7vw;
}

#loading_Spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.466);
  visibility: hidden;
  transition: visibility 2s;
}

.loading {
  display: flex;
}

.loading::after {
  content: "";
  width: 8vw;
  height: 8vw;
  border: 10px solid #f6f6f6;
  border-top-color: #9356DC;
  border-radius: 50%;
  animation: loading 1s ease infinite;
}

@keyframes loading {
  to {
    transform: rotate(1turn);
  }
}
/*4-layout (mise en page)*/
/*BEM réutilisable (header/footer)*/
header {
  width: 100%;
  display: flex;
  justify-content: center;
  aspect-ratio: 41/6;
}

header img {
  text-align: center;
  width: 43.9%;
}

#location {
  width: 100%;
  justify-content: center;
  aspect-ratio: 41/4;
  background-color: #b3b1b1;
  flex-direction: row;
  align-items: center;
  display: flex;
}

#location h5 {
  margin-left: 20px;
  margin-block-start: 5%;
  margin-block-end: 5%;
}

#location i {
  color: black;
  margin-left: -7%;
}

i {
  color: grey;
  font-size: 5vw;
}

a {
  display: flex;
}

#introduction {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  aspect-ratio: 41/30.5;
  background-color: #dddcdc;
}

#introduction h1 {
  width: 70%;
  text-align: center;
  margin-block-start: -5%;
}

#introduction h3 {
  width: 90%;
  text-align: center;
  margin-block-start: -1%;
  margin-bottom: 8%;
}

main {
  width: 85.36%;
  margin-top: 10%;
  margin-bottom: 10%;
  padding-left: 7.32%;
}

.backgroung_Number_etape_fonctioning {
  width: 5vw;
  aspect-ratio: 1/1;
  border-radius: 20px;
  margin-bottom: -15%;
  margin-left: -2.5%;
  z-index: 2;
  position: relative;
  background-color: #9356DC;
}

main h1 {
  margin-top: 15%;
  margin-bottom: 10%;
}

.backgroung_icone_texte_fonctioning {
  z-index: 1;
  position: relative;
  background-color: #dddcdc;
  flex-direction: row;
  align-items: center;
}

.backgroung_icone_texte_fonctioning:hover > i {
  color: #9356DC;
}

.backgroung_icone_texte_fonctioning:hover {
  background-color: #e4ddee;
}

main i {
  margin-left: 15%;
}

section {
  width: 100%;
  aspect-ratio: 41/134;
  flex-direction: column;
  display: flex;
  background-color: #dddcdc;
}

section a {
  width: 85.36%;
  aspect-ratio: 36/27;
  flex-direction: column;
  display: flex;
  background-color: white;
  overflow: hidden;
  border-radius: 20px;
  margin-left: 7.32%;
  margin-top: 5%;
}

section h6 {
  margin-top: 15%;
  margin-left: 7.32%;
  margin-block-end: 0px;
  color: black;
  font-family: "Roboto";
  font-weight: bold;
}

section img {
  width: 100%;
  aspect-ratio: 36/19;
  object-fit: cover;
}

section h2, section h3 {
  margin-left: 7.32%;
}

section h3 {
  margin-block-start: 2%;
}

section i {
  color: black;
}

section p {
  margin-right: 10%;
}

.informations_footer_restaurant {
  width: 100%;
  display: flex;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.informations {
  display: flex;
  flex-direction: column;
}

.fa-heart {
  transition: color 1s ease-in;
}

.fa-heart:hover {
  font-weight: bold;
  cursor: pointer;
  background: -moz-linear-gradient(top, #e72c83 0%, #a742c6 100%);
  background: -webkit-linear-gradient(top, #e72c83 0%, #a742c6 100%);
  background: linear-gradient(to bottom, #e72c83 0%, #a742c6 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  aspect-ratio: 41/22;
  background-color: #353535;
  color: white;
  padding-top: 8%;
  padding-bottom: 10%;
}

h6 {
  font-family: "Shrikhand";
  color: white;
  font-size: 5vw;
  margin-left: 7.32%;
  margin-top: 30%;
  margin-bottom: 30%;
  margin-block-start: 0;
  margin-block-end: 4%;
  font-weight: lighter;
}

footer i {
  color: white;
}

.fa-utensils, .fa-hands-helping {
  margin-right: 5%;
}

.fa-hands-helping {
  font-size: 3.5vw;
}

footer h3 {
  margin-block-start: 2%;
  margin-block-end: 2%;
}

footer a {
  margin-left: 7.32%;
  color: white;
  margin-block-start: 0;
  margin-block-end: 0;
  text-decoration: none;
}

/*5-pages*/
/*bloc de code d’une page (Accueil)*/
/*6-Themes > code thématique (style customisé pour Noël ou pour l’été)*/
/*7-Vendors (tiers) > directory pour des feuilles de style externes. Bootstrap ou jQuery UI*/

/*# sourceMappingURL=style-index.css.map */
