body
{
    margin: 0;
}
a
{
    text-decoration: none;
}
.title__paris,
.title__reservez_le_menu,
.subtitle__decouvrez_les_restaurants,
.button,
.title__functioning,
.number,
.subtitle__fonctioning,
.title__restaurants,
.name__restaurant,
.subname__restaurant,
.subtitle__footer,
.title__section,
.name__flat,
.subname__flat,
.price
{
    font-family: 'Roboto', sans-serif;
}
.title__footer,
.title__name_restaurant
{
    font-family: 'Shrikhand', cursive;
}