<!DOCTYPE html>
<html lang="fr">
<!--Nom de l'onglet-->
    <head>
        <meta charset="UTF-8" /><!--Encodage utilisé-->
        <meta name="viewport" content="width-device-width, initial-scale=1.0, user-scalable=no"/><!--Affichage sur différents appareils-->

        <link rel="stylesheet" href="../sass/css/style-restaurants.css"/><!--Lien vers la mise en forme personnelle-->
        <link rel="stylesheet" href="../sass/css/normalize.css" /><!--Compatibilité des navigateurs -->
    <!--<link rel="stylesheet" media="screen and (min-width: 992px)" href="../css_restaurants/desktop.css" /--><!--Apelle la mise en page desktop-->
    <!--<link rel="stylesheet" media="screen and (min-width: 768px) and (max-width: 991px)" href="../css_restaurants/tablette.css" />Apelle la mise en page tablette-->
    <!--<link rel="stylesheet" media="screen and (max-width: 767px)" href="../css_restaurants/smartphone.css" /--><!--Apelle la mise en page smartphone-->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" 
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" 
        crossorigin="anonymous"><!--Lien vers le site Font awesome pour gérer les icones-->

        <link rel="icon" href="images/logo/ohmyfood@2x.svg" /><!--logo dans l'onglet-->
        <title>ohmyfood</title><!--Nom de l'onglet-->
    </head>
<!--Page-->
    <body>

<!--En-tête- Identique dans les autres pages du site plus une petite flèche vers la gauche sur les pages restaurants-->
        <header class="header__restaurants">
            <a href="../index.html" class="arrow_Header">
                <i class="fas fa-arrow-left"></i>
            </a>
            <img src="../images/logo/ohmyfood@2x.svg" alt="logo"/>
        </header>

<!--Introduction - Localisation-->        
        <figure class="img__restaurant">
            <img class="img__header_restaurant"
            src="../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg"
            alt="À la française - Cité Rouge">
        </figure>

<!--Restaurants-->                
                <main class="menu">
                    <div class="title__menu">
                        <mark>À la française</mark>
                        <p><i class="far fa-heart"></i></p>
                    </div>
<!--Section des 3 ENTRÉES-->
<!--ENTRÉES 1-->
            <div class="layout__tablet_and_desktop">
                <div class="layout__menu">
                    <div class="underline_h1">
                        <h1 class="title__section">ENTRÉES</h1>
                    </div>

                    <section class="sections__menu">

                        <div class="element__menu">
                            <div class="background__element_menu">
                                <div class="informations__and_price">
                                        <h2 class="name__flat">Tartare de poulpe acidulé</h2>
                                        <div class="subtitle__menu_and_Price">
                                            <h3 class="subname__flat">Aux zests d'orange</h3>
                                            <h4 class="price">25€</h4>
                                        </div>
                                </div>
                                    <div class="validate"><i class="fas fa-check"></i></div>
                            </div>
                        </div>
<!--ENTRÉES 2-->

                        <div class="element__menu">
                            <div class="background__element_menu">
                                <div class="informations__and_price">
                                        <h2 class="name__flat">Velouté de légumes d'antan</h2>
                                        <div class="subtitle__menu_and_Price">
                                            <h3 class="subname__flat">Carotte, panais, topinambour</h3>
                                            <h4 class="price">35€</h4>
                                        </div>
                                </div>
                                    <div class="validate"><i class="fas fa-check"></i></div>
                            </div>
                        </div>

<!--ENTRÉES 3-->


                        <div class="element__menu">
                            <div class="background__element_menu">
                                <div class="informations__and_price">
                                        <h2 class="name__flat">Soupe à l'oignon</h2>
                                        <div class="subtitle__menu_and_Price">
                                            <h3 class="subname__flat">Revisitée</h3>
                                            <h4 class="price">20€</h4>
                                        </div>
                                </div>
                                    <div class="validate"><i class="fas fa-check"></i></div>
                            </div>
                        </div>
                    </section>
                </div>
<!--Section des 3 PLATS-->
<!--PLAT 1-->
                <div class="layout__menu">
                    <div class="underline_h1">
                        <h1 class="title__section">PLATS</h1>
                    </div>

                    <section class="sections__menu">

                        <div class="element__menu">
                            <div class="background__element_menu">
                                <div class="informations__and_price">
                                        <h2 class="name__flat">Coquilles Saint-Jacques</h2>
                                        <div class="subtitle__menu_and_Price">
                                            <h3 class="subname__flat">Accompagnées d'une purée de panais</h3>
                                            <h4 class="price">40€</h4>
                                        </div>
                                </div>
                                    <div class="validate"><i class="fas fa-check"></i></div>
                            </div>
                        </div>
<!--PLAT 2-->
                        <div class="element__menu">
                            <div class="background__element_menu">
                                <div class="informations__and_price">
                                        <h2 class="name__flat">Magret de canard</h2>
                                        <div class="subtitle__menu_and_Price">
                                            <h3 class="subname__flat">Et parmentier de pommes de terres</h3>
                                            <h4 class="price">35€</h4>
                                        </div>
                                </div>
                                    <div class="validate"><i class="fas fa-check"></i></div>
                            </div>
                        </div>
<!--PLAT 3-->
                        <div class="element__menu">
                            <div class="background__element_menu">
                                <div class="informations__and_price">
                                        <h2 class="name__flat">Pigeonneau d'Ille-et-Vilaine</h2>
                                        <div class="subtitle__menu_and_Price">
                                            <h3 class="subname__flat">Sur son lit de gnocchis aux légumes</h3>
                                            <h4 class="price">25€</h4>
                                        </div>
                                </div>
                                    <div class="validate"><i class="fas fa-check"></i></div>
                            </div>
                        </div>
                    </section>
                </div>
<!--Section des 3 DESSERTS-->
<!--DESSERT 1-->
                <div class="layout__menu">
                    <div class="underline_h1">
                        <h1 class="title__section">DESSERTS</h1>
                    </div>

                    <section class="sections__menu">

                        <div class="element__menu">
                            <div class="background__element_menu">
                                <div class="informations__and_price">
                                        <h2 class="name__flat">Pétales de violettes glacés</h2>
                                        <div class="subtitle__menu_and_Price">
                                            <h3 class="subname__flat">Et purée de noisettes</h3>
                                            <h4 class="price">18€</h4>
                                        </div>
                                </div>
                                    <div class="validate"><i class="fas fa-check"></i></div>
                            </div>
                        </div>
<!--DESSERT 2-->
                        <div class="element__menu">
                            <div class="background__element_menu">
                                <div class="informations__and_price">
                                        <h2 class="name__flat">Fondant au chocolat</h2>
                                        <div class="subtitle__menu_and_Price">
                                            <h3 class="subname__flat">Revisité</h3>
                                            <h4 class="price">22€</h4>
                                        </div>
                                </div>
                                    <div class="validate"><i class="fas fa-check"></i></div>
                            </div>
                        </div>
<!--DESSERT 3-->
                        <div class="element__menu">
                            <div class="background__element_menu">
                                <div class="informations__and_price">
                                        <h2 class="name__flat">Millefeuille croustillant</h2>
                                        <div class="subtitle__menu_and_Price">
                                            <h3 class="subname__flat">Myrtilles et pâte d'amande</h3>
                                            <h4 class="price">23€</h4>
                                        </div>
                                </div>
                                    <div class="validate"><i class="fas fa-check"></i></div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
<!--Boutton order-->
                        <div class="centering__button">
                            <a href="#" class="button order">Commander</a>
                        </div>
                </main>

<!--Pied de page - Identique sur les autres pages du site-->
                <footer class="footer layout__footer_desktop">
                    <h6 class="title__footer">ohmyfood</h6>
                    <div class="option__footer">
                    <h3 class="subtitle__footer"><a href="#"><i class="fas fa-utensils"></i>Proposer un restaurant</a></h3>
                    <h3 class="subtitle__footer"><a href="#"><i class="fas fa-hands-helping"></i>Devenir partenaire</a></h3>
                    <h3 class="subtitle__footer"><a href="#">Mentions légales</a></h3>
                    <h3 class="subtitle__footer"><a href="mailto:contact@ohmyfood.com">Contact</a></h3>
                    </div>
                </footer>
    </body>
</html>