<!DOCTYPE html>
<html lang="fr">
<!--Nom de l'onglet-->
    <head>
        <meta charset="UTF-8" /><!--Encodage utilisé-->
        <!--<meta name="viewport" content="width-device-width, initial-scale=1.0, user-scalable=no" />Affichage sur différents appareils-->

        <link rel="stylesheet" href="../sass/css/style-restaurants.css"/><!--Lien vers la mise en forme personnelle-->
        <link rel="stylesheet" href="../sass/css/normalize.css" /><!--Compatibilité des navigateurs -->
    <!--<link rel="stylesheet" media="screen and (min-width: 992px)" href="../css_restaurants/desktop.css" /--><!--Apelle la mise en page desktop-->
    <!--<link rel="stylesheet" media="screen and (min-width: 768px) and (max-width: 991px)" href="../css_restaurants/tablette.css" /><!--Apelle la mise en page tablette-->
    <!--<link rel="stylesheet" media="screen and (max-width: 767px)" href="../css_restaurants/smartphone.css" /--><!--Apelle la mise en page smartphone-->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" 
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" 
        crossorigin="anonymous"><!--Lien vers le site Font awesome pour gérer les icones-->

        <link rel="icon" href="images/logo/ohmyfood@2x.svg" /><!--logo dans l'onglet-->
        <title>ohmyfood</title><!--Nom de l'onglet-->
    </head>
<!--Page-->
    <body>

<!--En-tête- Identique dans les autres pages du site plus une petite flèche vers la gauche sur les pages restaurants-->
        <header class="header_Restaurants">
            <a href="../index.html" class="arrow_Header">
                <i class="fas fa-arrow-left"></i>
            </a>
            <img src="../images/logo/ohmyfood@2x.svg" alt="logo"/>
        </header>

<!--Introduction - Localisation-->        
        <figure class="img_Restaurant">
            <img class="img_header_restaurant"
            src="../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg"
            alt="À la française - Cité Rouge">
        </figure>

<!--Restaurants-->                
                <main class="menu">
                    <div class="title_Menu">
                        <mark>À la française</mark>
                        <p><i class="far fa-heart"></i></p>
                    </div>
<!--Section des 3 ENTRÉES-->
<!--ENTRÉES 1-->
                <div class="underline_h1">
                    <h1 class="title_Section">ENTRÉES</h1>
                </div>

                    <section class="sections_Menu">
                        <div class="element_menu">
                            <div class="background_elements_menu">
                                <div class="title_informations">
                                    <h2 class="name_Flat">Tartare de poulpe acidulé</h2>
                                    <div class="subtitle_Price">
                                        <h3 class="subname_Flat">Aux zests d'orange</h3>
                                        <h4 class="prix">25€</h4>
                                    </div>
                                </div>
                                <div class="validate"><i class="fas fa-check"></i></div>
                            </div>
                        </div>
<!--ENTRÉES 2-->

                        <div class="element_menu">
                            <div class="background_elements_menu">
                                <div class="title_informations">
                                    <h2 class="name_Flat">Velouté de légumes d'antan</h2>
                                    <div class="subtitle_Price">
                                        <h3 class="subname_Flat">Carotte, panais, topinambour</h3>
                                        <h4 class="prix">35€</h4>
                                    </div>
                                </div>
                                <div class="validate"><i class="fas fa-check"></i></div>
                            </div>
                        </div>

<!--ENTRÉES 3-->


                        <div class="element_menu">
                            <div class="background_elements_menu">
                                <div class="title_informations">
                                    <h2 class="name_Flat">Soupe à l'oignon</h2>
                                    <div class="subtitle_Price">
                                        <h3 class="subname_Flat">Revisitée</h3>
                                        <h4 class="prix">20€</h4>
                                    </div>
                                </div>
                                <div class="validate"><i class="fas fa-check"></i></div>
                            </div>
                        </div>
                    </section>
<!--Section des 3 PLATS-->
<!--PLAT 1-->
                <div class="underline_h1">
                    <h1 class="title_Section">PLATS</h1>
                </div>

                    <section class="sections_Menu">
                        <div class="element_menu">
                            <div class="background_elements_menu">
                                <div class="title_informations">
                                    <h2 class="name_Flat">Coquilles Saint-Jacques</h2>
                                    <div class="subtitle_Price">
                                        <h3 class="subname_Flat">Accompagnée d'une purée de pannais</h3>
                                        <h4 class="prix">40€</h4>
                                    </div>
                                </div>
                                <div class="validate"><i class="fas fa-check"></i></div>
                            </div>
                        </div>
<!--PLAT 2-->
                        <div class="element_menu">
                            <div class="background_elements_menu">
                                <div class="title_informations">
                                    <h2 class="name_Flat">Magret de canard</h2>
                                    <div class="subtitle_Price">
                                        <h3 class="subname_Flat">Et parmentier de pommes de terres</h3>
                                        <h4 class="prix">35€</h4>
                                    </div>
                                </div>
                                <div class="validate"><i class="fas fa-check"></i></div>
                            </div>
                        </div>

<!--PLAT 3-->
                        <div class="element_menu">
                            <div class="background_elements_menu">
                                <div class="title_informations">
                                    <h2 class="name_Flat">Pigeonneau d'Ille-et-Vilaine</h2>
                                    <div class="subtitle_Price">
                                        <h3 class="subname_Flat">Sur son lit de gnocchis aux légumes</h3>
                                        <h4 class="prix">25€</h4>
                                    </div>
                                </div>
                                <div class="validate"><i class="fas fa-check"></i></div>
                            </div>
                        </div>
                    </section>
<!--Section des 3 DESSERTS-->
<!--DESSERT 1-->
                <div class="underline_h1">
                    <h1 class="title_Section">DESSERTS</h1>
                </div>

                    <section class="sections_Menu">
                        <div class="element_menu">
                            <div class="background_elements_menu">
                                <div class="title_informations">
                                    <h2 class="name_Flat">Pétales de violettes glacées</h2>
                                    <div class="subtitle_Price">
                                        <h3 class="subname_Flat">Et purée de noisettes</h3>
                                        <h4 class="prix">25€</h4>
                                    </div>
                                </div>
                                <div class="validate"><i class="fas fa-check"></i></div>
                            </div>
                        </div>
<!--DESSERT 2-->
                        <div class="element_menu">
                            <div class="background_elements_menu">
                                <div class="title_informations">
                                    <h2 class="name_Flat">Fondant au chocolat</h2>
                                    <div class="subtitle_Price">
                                        <h3 class="subname_Flat">Revisité</h3>
                                        <h4 class="prix">22€</h4>
                                    </div>
                                </div>
                                <div class="validate"><i class="fas fa-check"></i></div>
                            </div>
                        </div>
<!--DESSERT 3-->
                        <div class="element_menu">
                            <div class="background_elements_menu">
                                <div class="title_informations">
                                    <h2 class="name_Flat">Millefeuille croustillant</h2>
                                    <div class="subtitle_Price">
                                        <h3 class="subname_Flat">Myrtilles et pâte d'amande</h3>
                                        <h4 class="prix">23€</h4>
                                    </div>
                                </div>
                                <div class="validate"><i class="fas fa-check"></i></div>
                            </div>
                        </div>
                    </section>
<!--Boutton Commander-->
                        <div class="centering_Button">
                            <a href="#" class="button commander">Commander</a>
                        </div>
                </main>

<!--Pied de page - Identique sur les autres pages du site-->
                <footer class="footer">
                    <h6 class="title_Footer">ohmyfood</h6>
                    <h3 class="subtitle_Footer"><a href="#"><i class="fas fa-utensils"></i>Proposer un restaurant</a></h3>
                    <h3 class="subtitle_Footer"><a href="#"><i class="fas fa-hands-helping"></i>Devenir partenaire</a></h3>
                    <h3 class="subtitle_Footer"><a href="#">Mentions légales</a></h3>
                    <h3 class="subtitle_Footer"><a href="mailto:contact@ohmyfood.com">Contact</a></h3>
                </footer>
    </body>
</html>