.button
{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, $color-secondary 1%, $color-primary);
    color: white;
    border-radius: 6vw;
    width: 55%;
    aspect-ratio: 24/5;
    box-shadow: 2px 9px 15px -7px rgba(0,0,0,0.75);
    font-family: 'Roboto';
    font-size: 3.7vw;
}
.centering__button
{
    display: flex;
    justify-content: center;
    width: 100%;
}
.order
{
    margin-bottom: 20%;
    text-align: center;
    font-size: 5vw;
}