#loading_Spinner
{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.466);
    visibility: hidden;
    transition: visibility 2s;
}
.loading {
    display: flex;
}
.loading::after {
    content: "";
    width: 8vw;
    height: 8vw;
    border: 10px solid $color-background-elements;
    border-top-color: $color-primary;
    border-radius: 50%;
    animation: loading 1s ease infinite;
}
@keyframes loading {
    to {
        transform: rotate(1turn);
    }
}