.location
{
    width: 100%;
    justify-content: center;
    aspect-ratio: 41/4;
    background-color: rgb(179, 177, 177);
    flex-direction: row;
    align-items: center;
    display: flex;
}
.title__paris
{
    margin-left: 5vw;
    margin-block-start: 5%;
    margin-block-end: 5%;
    font-size: 4vw;
}
.fa-map-marker-alt
{
    color: black;
    margin-left: -9%;
    font-size: 4vw;
}
