.main
{
    width: 85.36%;
    margin-top: 10%;
    margin-bottom: 10%;
    padding-left: 7.32%;
}
.title__functioning
{
    margin-top: 15%;
    margin-bottom: 10%;
    font-size: 5vw;
    font-weight: bolder;
}
.functioning
{
    width: 100%;
    margin-bottom: 7%;
    aspect-ratio: 35/8;
}
.backgroung__icone_texte_fonctioning
{
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 1;
    position: relative;
    background-color: rgb(221, 220, 220);
    flex-direction: row;
    align-items: center;
    border-radius: 5vw;
    box-shadow: 0px 8px 16px 7px rgba(0,0,0,0.46);
}
.backgroung__number_etape_fonctioning
{
    width: 5vw;
    aspect-ratio: 1/1;
    border-radius: 5vw;
    margin-left: -2.5%;
    z-index: 2;
    position: relative;
    background-color: $color-primary;
    display: flex;
    justify-content: center;
    align-items: center;
}
.number
{
    font-size: 3vw;
    color: white;
    margin-block-start: 0;
    margin-block-end: 0;
}
.subtitle__fonctioning
{
    font-size: 4vw;
    font-weight: bolder;
}
.backgroung__icone_texte_fonctioning:hover > i
{
    color: $color-primary;
}
.backgroung__icone_texte_fonctioning:hover
{
    background-color: #e4ddee;
    box-shadow: 0px 8px 16px 7px rgba(0,0,0,0.71);

}
.fa-mobile-alt, .fa-bars, .fa-store
{
    margin: 0 5% 0 5%;
    color: grey;
    font-size: 5vw;
}
/*Page des restaurants*/
.menu
{
    width: 100%;
    display: flex;
    padding-inline-start: 0;
    margin-block-end: 0;
    flex-direction: column;
    justify-content: flex-start;
    background-color: $color-background-elements;
    border-radius: 10vw 10vw 0 0;
    margin-top: -15vw;
    z-index: 2;
    position: relative;
}
.title__menu
{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-family: 'Shrikhand';
    font-size: 6vw;
    margin-left: 5%;
    margin-top: 5%;
}
.title__menu mark
{
    background-color: $color-background-elements;
}
mark
{
    font-family: 'Shrikhand';
}
.title__menu p
{
    margin-right: 8%;
}