.main
{
    width: 85.36%;
    margin-top: 10%;
    margin-bottom: 10%;
    padding-left: 7.32%;
}
.title_Fonctionnement
{
    margin-top: 15%;
    margin-bottom: 10%;
    font-size: 6vw;
    font-weight: bolder;
}
.functioning
{
    width: 100%;
    margin-bottom: 7%;
    aspect-ratio: 35/8;
}
.backgroung_icone_texte_fonctioning
{
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 1;
    position: relative;
    background-color: rgb(221, 220, 220);
    flex-direction: row;
    align-items: center;
    border-radius: 5vw;
    box-shadow: 0px 8px 16px 7px rgba(0,0,0,0.46);
}
.backgroung_Number_etape_fonctioning
{
    width: 5vw;
    aspect-ratio: 1/1;
    border-radius: 5vw;
    margin-left: -2.5%;
    z-index: 2;
    position: relative;
    background-color: #9356DC;
    display: flex;
    justify-content: center;
    align-items: center;
}
.number
{
    font-size: 3vw;
    color: white;
    margin-block-start: 0;
    margin-block-end: 0;
}
.subtitle_Fonctioning
{
    font-size: 4vw;
    font-weight: bolder;
}
.backgroung_icone_texte_fonctioning:hover > i
{
    color: #9356DC;
}
.backgroung_icone_texte_fonctioning:hover
{
    background-color: #e4ddee;
    box-shadow: 0px 8px 16px 7px rgba(0,0,0,0.71);

}
.fa-mobile-alt, .fa-bars, .fa-store
{
    margin: 0 5% 0 5%;
    color: grey;
    font-size: 5vw;
}