main
{
    width: 85.36%;
    margin-top: 10%;
    margin-bottom: 10%;
    padding-left: 7.32%;
}
.backgroung_Number_etape_fonctioning
{
    width: 5vw;
    aspect-ratio: 1/1;
    border-radius: 20px;
    margin-bottom: -15%;
    margin-left: -2.5%;
    z-index: 2;
    position: relative;
    background-color: #9356DC;
}
main h1
{
    margin-top: 15%;
    margin-bottom: 10%;
}
.backgroung_icone_texte_fonctioning
{
    z-index: 1;
    position: relative;
    background-color: rgb(221, 220, 220);
    flex-direction: row;
    align-items: center;
}
.backgroung_icone_texte_fonctioning:hover > i
{
    color: #9356DC;
}
.backgroung_icone_texte_fonctioning:hover
{
    background-color: #e4ddee;
}
main i
{
    margin-left: 15%;
}