@media (min-width: 1024px) {
    header, header img
    {
        height: 80px;
    }
    header
    {
        align-content: flex-start;
    }
    header img
    {
        width: 200px;
    }
    .location
    {
        height: 80px;
    }
    header, .introduction
    {
        width: 40%;
    }
    .location, .main
    {
        width: 60%;
    }
    .fa-map-marker-alt, .title__paris, .subtitle__decouvrez_les_restaurants, .fa-mobile-alt, .fa-bars, .fa-store, .title__functioning
    {
        font-size: 1.5vw;
    }
    .title__reservez_le_menu
    {
        font-size: 1.5vw;
    }
    .button
    {
        font-size: 1.3vw;
        width: 45%;
    }
    .main
    {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
    }
    .layout__main_desktop
    {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .choose
    {
        margin-left: 5%;
    }
    .compose
    {
        margin-left: 35%;
    }
    .taste
    {
        margin-left: 65%;
    }
    .layout__subtitle__header__tablet_desktop
    {
        width: 100%;
        display: flex;
    }
    .layout__header__tablet_desktop
    {
        display: flex;
        width: 100%;
    }
    .introduction
    {
        aspect-ratio: 14/5;
        padding-top: 2%;
    }
    .title__functioning
    {
        margin-top: 1%;
        margin-bottom: 1%;
        margin-left: 1%;
    } 
    .backgroung__number_etape_fonctioning
    {
        width: 1.5vw;
    }
    .number
    {
        font-size: 1vw;
    }
    .functioning
    {
        width: 28%;
        margin-bottom: 1%;
        aspect-ratio: 35/6;
    }
    .backgroung__icone_texte_fonctioning
    {
        aspect-ratio: 35/6;
    }
    .subtitle__fonctioning
    {
        margin-block-start: 0;
        margin-block-end: 0;
        font-size: 1vw;
    }
    .section
    {
        flex-direction: column;
        padding-bottom: 2%;
    }
    .section__restaurants
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding-bottom: 2%;
        width: 100%;
    }
    .conteneur__restaurant
    {
        width: 20%;
        margin-left: 0;
        margin-top: 3% !important;
        border-radius: 0.5vw;
    }
    .title__restaurants
    {
        margin-top: 2%;
        font-size: 2vw;
    }
    .conteneur__nouveau
    {
        width: 5vw;
        top: -98%;
        left: 70%;
        font-size: 1vw;
        padding: 0.1vw;
        border-radius: 0.1vw;
    }
    .name__restaurant
    {
        font-size: 1.5vw;
        margin-block-start: 3%;
    }
    .subname__restaurant
    {
        font-size: 1vw;
    }
    .conteneur__icone_faheart
    {
        font-size: 1.5vw;
    }
    .footer
    {
        padding-top: 1% !important;
        aspect-ratio: 20.5/1.5 !important;
    }
    .option__footer
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        text-align: center;
        align-items: baseline;
    }
    .title__footer
    {
        font-size: 2vw !important;
        margin-top: 0 !important;
        margin-left: 2% !important;
        margin-bottom: 1% !important;
    }
    .subtitle__footer
    {
        font-size: 1.5vw !important;
        white-space: nowrap;
        margin-top: 0 !important;
    }
    .fa-utensils, .fa-hands-helping
    {
        font-size: 2vw !important;
    }
}