@media (min-width: 426px) and (max-width: 1023px) {
    header, header img
    {
        height: 62.19px;
    }
    header
    {
        justify-content: flex-start;
    }
    header img
    {
        width: 186.56px;
        margin-left: 5%;
    }
    .fa-arrow-left
    {
        font-size: 4vw;
    }
    .arrow_Header
    {
        position: inherit;
        display: flex;
        justify-content: center;
        align-items: baseline;
        margin-left: 5%;
    }
    .location
    {
        height: 62.05px;
    }
    header, .location, .main, .introduction
    {
        width: 50%;
    }
    .fa-map-marker-alt, .title__paris, .subtitle__decouvrez_les_restaurants, .fa-mobile-alt, .fa-bars, .fa-store, .title__functioning
    {
        font-size: 2.5vw;
    }
    .title__reservez_le_menu
    {
        font-size: 3.5vw;
    }
    .button
    {
        font-size: 2vw;
    }
    .main
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
    }
    .layout__subtitle__header__tablet_desktop
    {
        width: 100%;
        display: flex;
    }
    .layout__header__tablet_desktop
    {
        display: flex;
        width: 100%;
    }
    .introduction
    {
        height: 60%;
        padding-top: 2%;
    }
    .title__functioning
    {
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .subtitle__fonctioning
    {
        font-size: 2vw;
    }
    .backgroung__number_etape_fonctioning
    {
        width: 3vw;
    }
    .number
    {
        font-size: 1.5vw;
    }
    .layout__main_desktop
    {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .functioning
    {
        width: 90%;
        margin-bottom: 5%;
        aspect-ratio: 35/6;
    }
    .backgroung__icone_texte_fonctioning
    {
        aspect-ratio: 35/6;
    }
    .subtitle__fonctioning
    {
        margin-block-start: 0;
        margin-block-end: 0;
    }
    .section
    {
        flex-direction: column;
        padding-bottom: 2%;
    }
    .section__restaurants
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding-bottom: 2%;
        width: 100%;
    }
    .conteneur__restaurant
    {
        width: 40%;
        margin-left: 0;
        margin-top: 3% !important;
    }
    .title__restaurants
    {
        margin-top: 2%;
        font-size: 4vw;
    }
    .conteneur__restaurant
    {
        border-radius: 1vw;
    }
    .conteneur__nouveau
    {
        width: 9vw;
        top: -136%;
        left: 70%;
        font-size: 2vw;
        padding: 0.5vw;
    }
    .name__restaurant
    {
        font-size: 3vw;
        margin-block-start: 3%;
    }
    .subname__restaurant
    {
        font-size: 2.5vw;
    }
    .conteneur__icone_faheart
    {
        font-size: 3.5vw;
    }
    .footer
    {
        padding-top: 2% !important;
        aspect-ratio: 20.5/3.5 !important;
    }
    .option__footer
    {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-around;
        text-align: center;
        align-items: baseline;
    }
    .title__footer
    {
        font-size: 4vw !important;
        margin-top: 1% !important;
        margin-bottom: 1% !important;
    }
    .subtitle__footer
    {
        font-size: 2.5vw !important;
        white-space: nowrap;
    }
    .fa-utensils, .fa-hands-helping
    {
        font-size: 2vw !important;
    }
    /*Mise en page de la page restaurants*/
    .menu
    {
        justify-content: space-around;
        width: 90%;
        margin-top: -65vw;
        margin-left: 5%;
        border-radius: 2vw;
        aspect-ratio: 703/485.7;
        background-color: transparent;
        border: 2px solid $color-background-elements;
    }
    .title__menu
    {
        margin-top: 0 !important;
        width: 35%;
        font-size: 2vw;
    }
    .title__menu mark
    {
        font-size: 3vw;
        background-color: transparent;
        color: $color-white;
    }
    .fa-heart
    {
        font-size: 3vw;
        color: $color-white;
    }
    .title__section
    {
        font-size: 2vw;
        color: $color-white;
    }
    .element__menu
    {
        aspect-ratio: 6/2;
        border-radius: 1vw;
    }
    .name__restaurant, .name__flat
    {
        font-size: 2vw;
    }
    .name__flat, .subname__flat
    {
        margin-left: 1vw !important;
    }
    .subname__flat, .price
    {
        font-size: 2vw;
        margin-block-start: 1vw;
    }
    .layout__tablet_and_desktop
    {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        margin-left: 0.8%;
    }
    .layout__menu
    {
        width: 33%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .sections__menu
    {
        width: 95%;
        margin-left: 0 !important;
    }
    .order
    {
        margin-bottom: 2%;
        font-size: 3vw;
        width: 33%;
    }
    .underline_h1
    {
        background-size: 22% 3px;
    }
    .fa-check
    {
        display: flex !important;
        justify-content: center;
        align-items: center;
        font-size: 1.5vw;
        height: 25%;
        width: 50%;
    }
}
