@media (min-width: 426px) and (max-width: 1024px) {
    header
    {
        height: 100px;
    }
    header img
    {
        height: auto;
    }
    .header_Restaurants
    {
        align-items: center;
    }
    .arrow_Header
    {
        position: relative;
        left: -20%;
        color: black;
        font-size: 5vw;
    }
    
}