.section
{
    width: 100%;
    padding-bottom: 20%;
    flex-direction: column;
    display: flex;
    background-color: rgb(221, 220, 220);
}
.conteneur_Restaurant
{
    width: 85.36%;
    aspect-ratio: 36/27;
    flex-direction: column;
    display: flex;
    background-color: white;
    overflow: hidden;
    border-radius: 20px;
    margin-left: 7.32%;
    margin-top: 5%;
    box-shadow: 0px 8px 16px 7px rgba(0,0,0,0.46);
}
.conteneur_Nouveau
{
    position: relative;
    width: 18vw;
    aspect-ratio: 9/3;
    padding: 1.5vw;
    top: -93%;
    left: 70%;
    background-color: $color-background-label-new;
    color: $color-text-label-new;
    text-align: center;
    border-radius: 1vw;
    font-family: 'Roboto';
    font-size: 3vw;
}
.img_header_restaurant
{
    width: 100%;
    aspect-ratio: 36/19;
    object-fit: cover;
}
.informations_footer_restaurant
{
    width: 100%;
    display: flex;
    height: auto;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
.title_Restaurants
{
    margin-top: 10%;
    margin-left: 7.32%;
    margin-block-end: 0px;
    color: black;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 5vw;
}
.name_Restaurant, .subname_Restaurant
{
    margin-left: 7.32%;
}
.name_Restaurant
{
    font-size: 4vw;
    font-weight: bolder;
    color: black;
    margin-block-end: 0;
}
.subname_Restaurant
{
    margin-block-start: 2%;
    font-size: 4vw;
    font-weight: lighter;
    color: black;
}
.section i
{
    color: black;
}
.conteneur_Icone_Faheart
{
    margin-right: 10%;
    font-size: 5vw;
}
.informations
{
    display: flex;
    flex-direction: column;
    width: 80%;
}
.fa-heart
{

}
.fa-heart:hover
{
    font-weight: bold;
    cursor: pointer;

    background:-moz-linear-gradient(top, #e72c83 0%, #a742c6 100%); 
    background: -webkit-linear-gradient(top, #e72c83 0%,#a742c6 100%); 
    background: linear-gradient(to bottom, #e72c83 0%,#a742c6 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
   -webkit-text-fill-color:transparent;

}